@charset "UTF-8";

* { font-family: Arial, Helvetica, sans-serif;}

body {background-image: linear-gradient(to right, #F1D8C9, #f2c3A7);
 }

main{
    margin: auto;
    padding: 10px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(110, 88, 75, 0.712) ;
}
h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #804d07b4 ;

}

h2 {
    color: #125189;

}

p {
    text-align: justify;
}
