
body {
    background-color: rgb(48, 214, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    background-color: aliceblue;
    color: rgb(0, 255, 234);
}

h2 {
    color: blue;
}

p {
    text-align: justify;
} 